<%- include('partials/admin_header')%>
<div class="student_form_detail">
    <p>1.Child’s Name in full  : <%= student.name %>   <br>
        2.Admission sought to : Class   <%= student.ad_class %> <br>
        3. Date of Birth (In words and in Figures):Class   <%= student.dob %> <br>
        Day :  <%= student.dob_day %>   Month :  <%= student.dob_month %>  Year :  <%= student.dob_year %> <br>
        4. Nationality of Child:  <%= student.nationality %> Religion :  <%= student.Religion %> Gender (Male / Female):  <%= student.Gender %> <br>
        5. Father’s Name :  <%= student.father.name %> <br>
        Occupation :   <%=student.father.Occupation  %> Designation :   <%= student.father.Designation %>  Annual Income :   <%= student.father.annualIncome %> <br>
        Organisation’s Name & Address   :<%= student.father.organisationsNameAndAddress %> <br>
        Academic Qualification :  <%= student.father.academicQualification  %> <br>
        Phone No. (office) :  <%= student.father.PhoneNo  %>  Residence :  <%= student.father.PhoneNo %> <br>
        6. Mother’s Name :  <%= student.mother.name %> <br>
        Occupation :  <%= student.mother.Occupation  %>    Designation :  <%= student.mother.Designation %>  Annual Income :  <%= student.mother.annualIncome %> <br>
        Organisation’s Name & Address:  <%= student.mother.organisationsNameAndAddress %> <br>
        Academic Qualification :   <%= student.mother.academicQualification  %> <br>
        Phone No. (office) :   <%= student.mother.PhoneNo  %> Residence :  <%= student.mother.PhoneNo  %> <br>
        8. (A) Home Town :  <%= student.address1.town %>   State  :  <%= student.address1.state %>  Country:  <%= student.address1.Country %> <br>
        (B) Address : (Permanent)   <%= student.address2.permanent %> <br>
        Address : (Present)    <%= student.address2.present %>  <br>
        9. Details of any brother of sister studying in DPS <br>
        Name of the Child :  <%= student.sibling.one.name %>   Admn. NO. :  <%= student.sibling.one.admsnNo %>   Class / Sec :  <%= student.sibling.one.class %> <br>
        Name of the Child :  <%= student.sibling.two.name %>  Admn. NO. :  <%= student.sibling.two.admsnNo %>   Class / Sec :  <%= student.sibling.two.class %> <br>
        Any other Information <br>
        Staff Child (Mention the name of the parent(s) working at DPS)  <br>
        :  <%= student.Any_other_info %> <br>
        DOCUMENTS REQUIRED : <br>
        1. At the time of admission, an attested copy of Municipal Birth Certicate or a Certicate from the School last attended. <br>
        2. Four Passport size Photographs of Student & two photos each of Father, Mother & Guardian will be submitted for school
        records. <br>
        3. Transfer Certificate in original from the last school. <br>
            a) Name of previous school :<%= student.prev_school %> <br>
            b) Class in which he / she was studying in the last school :  <%= student.prev_class %> <br>
            c) Position obtained in the last examination in the previous school :  <%= student.prev_result %> <br>
            d) Medium of instruction in previous school (English / Hindi)  :  <%= student.prev_medium %> <br>
            e) Proficiency in games / co-curricular / outstanding achievements (if any) :  <%= student.skills %> <br>
            f) Certificate may be enclosed for proficiency in Games / Co-curricular / Outstanding Achievements (if any) <br>
            g) Details of marks obtained in the last annual exam (in %) <br>
           
    </p>
    <h2>DOCUMENTS</h2>
    <img src="/img/passport.jpeg" alt="" style="height: 100px; width: auto;"><br>
    
    <button class="btn_trans_green" > <a href="/form/approve/<%= student.id%>">Approve Form</a></button>
    <button class="btn_trans_green" > <a href="/form/delete/<%= student.id%>">Reject Form</a></button>
</div>